/*import fonts from fonts.css file*/
@import url(./fonts.css);



/**************Custom Style***************/

body{
    margin: 0 auto;
    padding: 0;
}

section{
    display: flex;
    padding: 5%;
    
    
}


/*style for Header Section*/
.header_content{
    margin-top: 100px;
}

.header_content h1{
    font-size: 50px;
    font-family: 'Roboto';
    line-height: 14px;
}
.header_content span{
    color: orange;
}

.header_content p{
    margin-bottom: 60px;
}

/*Header Section Button Design*/
.btn{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    background-color: #f7b42c;
    background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
    padding: 15px 25px;
    border-radius: 20px;
    
    

}

#headerSection div{
    width: 50%;
}

#headerSection img{
    width: 90%;
}


/*about section*/

#aboutMe{
    background-image: url('../img/aboutMeBg.png');
}

#aboutMe img{
    width: 40%;
    padding-left: 25%;
    
}
#aboutMe .aboutMe_content{
    width: 50%;
    padding: 5% 10% 3% 2%;
    margin-top: 0;
    

}
.aboutMe_content h1{
    font-size: 30px;
    font-family: 'Roboto';
    margin-bottom: 30px;
}
.aboutMe_content p{
    
    font-family: 'Roboto';
    padding: 2px;
    line-height: 25px;
    margin-bottom: 60px;
}

/*................Recipie Section ........................*/
#recipieSection .recipieContent{
    width: 100%;
    text-align: center;
    
    
}
.recipieContent h1{
    font-size: 30px;
    font-family: 'Roboto';
    margin-bottom: 25px;
}

#recipieCardSection{
    justify-content: space-around;
    align-items: center;
    
}

#recipieCardSection .recipieCard{
    width: 25%;
    margin: 2px;
    padding: 15px;
    box-sizing: border-box;
    border: 0px solid #d4d4d4;
    border-radius: 20px;
    box-shadow: -4px -4px 20px rgba(0, 0, 0, 0.1);
    text-align: start;
    
}

#recipieCardSection .recipieCard img{
    width: 100%;   
}

#recipieCardSection .recipieCard p{
    line-height: 25px;
    font-family: "Roboto"; 
}
#recipieCardSection .recipieCard h2{
    
    font-family: "Roboto"; 
    font-weight: 900;
    font-size: 25px;
}


/*.............................Statistics Section.......................*/

